@charset "UTF-8";
/* Переменные */
/* Основные настройки */
body, html {
  font-family: 'Gotham Pro Regular';
  padding: 0;
  margin: 0;
  font-size: 16px;
  max-width: 1200px;
  margin: 0 auto; }

a {
  color: #1d1d1d;
  text-decoration: none; }

/* Верхняя шапка */
.topline {
  min-height: 31px;
  background-color: #222222;
  font-size: 11.8px; }
  .topline a {
    color: #bebebe;
    float: right;
    display: inline-block;
    line-height: 31px;
    padding: 0 19px; }

/* Главное меню */
.menu {
  min-height: 96px;
  font-size: 14px; }
  .menu .logo {
    float: left;
    padding: 26px 14px; }
  .menu .topmenu {
    float: right;
    min-height: 100%; }
  .menu ul {
    margin: 0;
    padding: 0;
    line-height: 76px;
    min-height: 100%; }
    .menu ul .item {
      position: relative;
      padding: 0 6.3px;
      display: inline-block;
      text-transform: uppercase;
      height: 100%;
      /* Выпадающее меню */ }
      .menu ul .item a {
        height: 100%;
        color: #1d1d1d;
        font-weight: normal; }
        .menu ul .item a:hover {
          color: #ad0000; }
      .menu ul .item .dropdown-list {
        display: none;
        -webkit-box-shadow: inset 0 6px 25px -5px;
                box-shadow: inset 0 6px 25px -5px;
        position: absolute;
        background: #f6f6f6;
        list-style-type: none;
        top: 96px;
        left: -23px;
        width: 408px;
        line-height: 20px;
        text-indent: 39px; }
        .menu ul .item .dropdown-list .dd-item-desc {
          font-size: 13px;
          padding-top: 28px;
          padding-bottom: 14px; }
        .menu ul .item .dropdown-list .dd-item {
          font-size: 14px;
          height: 26px;
          padding: 0px 0;
          text-transform: none;
          letter-spacing: -0.2px; }
          .menu ul .item .dropdown-list .dd-item:last-child {
            margin-bottom: 20px; }
      .menu ul .item a {
        height: 100%;
        font-weight: normal; }
        .menu ul .item a:hover {
          color: #ad0000; }
    .menu ul .active a {
      color: #ad0000; }

/* Слайдер */
.slider {
  z-index: -1;
  height: 423px;
  overflow: hidden;
  position: relative;
  background-color: #1d1d1d; }
  .slider .slides {
    margin-top: -360px;
    padding: 0;
    background-color: black;
    opacity: 0.6; }
  .slider .caption {
    position: absolute;
    color: #f6f6f6;
    top: 60px;
    left: 55px; }
    .slider .caption h1 {
      font-weight: normal;
      font-size: 26px;
      text-shadow: 1px 1px 1px #1d1d1d;
      letter-spacing: 1.2px; }
      .slider .caption h1 span {
        display: block;
        text-transform: uppercase;
        font-size: 32px;
        letter-spacing: 2.4px;
        margin-top: 12px;
        font-weight: bold;
        letter-spacing: 4.2px; }
    .slider .caption p {
      width: 60%;
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 1.1px;
      margin-top: 16px;
      line-height: 22px; }
    .slider .caption .arrow {
      margin-top: 5px;
      background: url(../svg/001-right-arrow.svg);
      height: 19px;
      width: 19px;
      display: inline-block; }
    .slider .caption .left-arrow {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .slider .caption .right-arrow {
      margin-left: 26px; }

/* Обратная связь */
.feedback {
  z-index: 10;
  background-color: #f6f6f6;
  height: 156px;
  width: 97.5%;
  margin: 0 auto;
  margin-top: -122px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 0 8px 0;
          box-shadow: 0 0 8px 0;
  position: relative; }
  .feedback h3 {
    padding-top: 50px;
    padding-left: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px; }
  .feedback p {
    padding-top: 12px;
    padding-left: 40px;
    font-weight: 100;
    font-size: 14px; }
  .feedback input {
    position: absolute;
    width: 242px;
    height: 40px;
    right: 40px;
    top: 80px;
    background-color: #ad0000;
    color: #f6f6f6;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    font-family: 'MyriadPro', sans-serif;
    font-size: 17px;
    border: none !important;
    letter-spacing: 0.5px;
    padding-bottom: 5px; }
    .feedback input:hover {
      background-color: #620000; }

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold !important;
  font-size: 18px !important; }

/* Услуги */
.tizers {
  padding-top: 42px;
  margin: 0 auto;
  height: 400px;
  margin-left: -15px; }
  .tizers .container {
    padding: 0;
    margin: 0 auto;
    height: 51%; }
  .tizers h2 {
    padding-bottom: 45px; }
  .tizers .tizer {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 25%; }
    .tizers .tizer .wrap {
      margin: 0 auto;
      text-align: center;
      -webkit-border-radius: 8px;
              border-radius: 8px;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-color: black; }
      .tizers .tizer .wrap h4 {
        padding-top: 44px;
        display: block;
        text-align: left;
        padding-left: 30px;
        width: 270px;
        font-weight: 700;
        font-size: 20px;
        opacity: 1; }
      .tizers .tizer .wrap a {
        color: white; }
        .tizers .tizer .wrap a h4 {
          padding-left: 40px;
          width: 220px;
          font-size: 15px;
          font-weight: 600;
          padding-bottom: 21px; }
        .tizers .tizer .wrap a hr {
          width: 220px;
          margin-left: 40px; }
        .tizers .tizer .wrap a p {
          text-align: left;
          padding-left: 40px;
          font-weight: 600;
          margin-top: -5px; }
        .tizers .tizer .wrap a .arrow {
          position: absolute;
          top: 145px;
          right: 15%;
          background: url(../svg/001-arrow.svg);
          height: 19px;
          width: 19px; }
    .tizers .tizer img {
      position: absolute;
      -webkit-border-radius: 12px;
              border-radius: 12px;
      top: 0;
      left: 5%;
      width: 90%;
      opacity: 0.6; }

/* Документы */
.licences {
  height: 550px;
  background-color: #f3f3f3;
  margin-top: -40px;
  position: relative; }
  .licences h2 {
    padding-top: 65px; }
  .licences .viewport {
    margin-top: 42px;
    margin-left: 40px;
    width: 94%;
    height: 400px;
    overflow: hidden; }
    .licences .viewport .licences {
      margin: 0px -320px;
      width: -webkit-calc(26%*8);
      width: calc(26%*8);
      -webkit-transition: -webkit-transform 2s;
      transition: -webkit-transform 2s;
      -o-transition: transform 2s;
      transition: transform 2s;
      transition: transform 2s, -webkit-transform 2s; }
      .licences .viewport .licences .licence {
        width: 255px;
        float: left;
        display: inline-block;
        margin: 0 10px; }
  .licences .switch {
    position: absolute;
    top: 293px;
    height: 40px;
    width: 40px;
    opacity: 0.4; }
  .licences .switch:hover {
    opacity: 1;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    cursor: pointer; }
  .licences .left-switch {
    left: 0.5%;
    background: url(../svg/003-back.svg); }
  .licences .right-switch {
    right: 0.5%;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    background: url(../svg/003-back.svg);
    height: 40px;
    width: 40px; }

/* Контакты */
.contacts {
  text-align: left;
  margin: 62px 56px;
  margin-bottom: 435px; }
  .contacts h2 {
    text-align: left;
    padding-bottom: 10px; }
  .contacts p {
    display: block;
    width: 50%; }
  .contacts .info {
    margin: 50px -12px; }
    .contacts .info .address {
      padding-top: -20px; }
      .contacts .info .address h5 {
        padding-top: 20px;
        font-size: 1.2em;
        color: #bebebe !important; }
    .contacts .info .address:first-child {
      margin-top: -20px;
      padding-top: 0px; }
  .contacts form {
    margin: 38px 10px; }
    .contacts form input, .contacts form select, .contacts form textarea {
      display: block;
      height: 2.9em;
      width: 335px;
      margin-bottom: 25px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      text-indent: 18px;
      border-style: none;
      border: 1px solid rgba(0, 0, 0, 0.4);
      color: #1d1d1d; }
    .contacts form textarea {
      height: 106px;
      padding-top: 10px; }
    .contacts form .right-side {
      padding-left: 40px; }
    .contacts form .addfile {
      position: relative; }
      .contacts form .addfile input {
        text-decoration: underline;
        text-indent: 40px; }
      .contacts form .addfile .fa {
        -webkit-transform: rotate(225deg);
            -ms-transform: rotate(225deg);
                transform: rotate(225deg);
        position: absolute;
        font-size: 18px;
        top: 12px;
        left: 18px; }
    .contacts form .btn {
      background: #ad0000;
      width: 102%;
      margin: 5px 15px;
      font-family: 'MyriadPro', sans-serif;
      color: #f6f6f6;
      font-size: 15px;
      border: none; }
      .contacts form .btn:hover {
        background-color: #620000; }

/* Партнеры */
.partners {
  height: 300px;
  margin-top: -40px;
  position: relative; }
  .partners h2 {
    padding-top: 65px;
    padding-bottom: 10px; }
  .partners .viewport {
    margin-top: 42px;
    margin-left: 40px;
    width: 94%;
    height: 300px;
    overflow: hidden; }
    .partners .viewport .partners {
      margin: 0px -270px;
      width: -webkit-calc(20%*10);
      width: calc(20%*10);
      -webkit-transition: -webkit-transform 2s;
      transition: -webkit-transform 2s;
      -o-transition: transform 2s;
      transition: transform 2s;
      transition: transform 2s, -webkit-transform 2s; }
      .partners .viewport .partners .partner {
        width: 200px;
        float: left;
        display: inline-block;
        margin: 0 10px; }
  .partners .switch {
    position: absolute;
    top: 157px;
    height: 40px;
    width: 40px;
    opacity: 0.4; }
  .partners .switch:hover {
    opacity: 1;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    cursor: pointer; }
  .partners .left-switch {
    left: 0.5%;
    background: url(../svg/003-back.svg); }
  .partners .right-switch {
    right: 0.5%;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    background: url(../svg/003-back.svg);
    height: 40px;
    width: 40px; }

.bigmenu {
  margin-top: -20px;
  padding-top: 60px;
  height: 280px;
  color: #f6f6f6;
  font-weight: bold;
  background-color: #1d1d1d; }
  .bigmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .bigmenu a {
    color: #f6f6f6; }
  .bigmenu .column-1 li {
    margin-bottom: 10px; }
  .bigmenu .column-2-1 li {
    font-weight: normal;
    margin-top: 8px;
    color: #bebebe; }
  .bigmenu .column-2-2 {
    font-weight: normal;
    margin-top: 28px;
    color: #bebebe; }
  .bigmenu .column-2-2 li {
    margin-bottom: 8px; }
  .bigmenu .column-3 {
    font-weight: normal;
    margin: -7px -20px; }
    .bigmenu .column-3 h5 {
      font-weight: bold;
      margin-bottom: 15px; }
    .bigmenu .column-3 address, .bigmenu .column-3 p {
      font-size: 12px;
      margin-bottom: 10px; }

.bottomline {
  height: 60px;
  background-color: #101010; }
  .bottomline p {
    color: #bebebe;
    font-size: 12px; }
  .bottomline .lbl {
    float: left;
    margin: 23px 20px; }
  .bottomline .rbl {
    float: right;
    margin-right: 30px;
    margin-top: 23px; }
