/* Переменные */
$white: #f6f6f6
$black: #1d1d1d
$grey: #bebebe
$red: #ff000c

/* Основные настройки */
body, html
	font-family: 'Gotham Pro Regular'	
	padding: 0 
	margin: 0	
	font-size: 16px
	max-width: 1200px
	margin: 0 auto
a 
	color: $black
	text-decoration: none